<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.61.0.0" targetFramework="native" />
  <package id="boost_context-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_iostreams_zlib-src" version="1.61.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_regex-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="openssl" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.redist" version="1.0.1.25" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="zlib" version="1.2.8.7" targetFramework="native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>